<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025010988992-j0c7keibkgl5ef7lf1a8tgn137tpr71j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025010988992-j0c7keibkgl5ef7lf1a8tgn137tpr71j</string>
	<key>API_KEY</key>
	<string>AIzaSyADpuujCRHWE2Suu_ImhSbIHpQQb8uQCZE</string>
	<key>GCM_SENDER_ID</key>
	<string>1025010988992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qootAlkulaib.Habat-reeh</string>
	<key>PROJECT_ID</key>
	<string>habat-ree7</string>
	<key>STORAGE_BUCKET</key>
	<string>habat-ree7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025010988992:ios:269e96fe4b9d27c1fc3a25</string>
</dict>
</plist>